body {
    font-size: 24px;

}
a {
color: inherit;
border:inherit;
}
.border {
border: 6px double pink
}
img{
    width: 150;
}



main{
    border: inferit;
}
.main-article {
    border: 2px solid red;
    font-size: 44px;
}
.main-article__heading {
    border: inherit
    font-size: 1.2em;
}
.main-article__content (
    font-size: 0.5em;
)
a{
    border: 2px solid red
}